.wc {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.wc2 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.app {
  margin-top: 50px;
}

.title {
  margin-top: 100px;
  font-size: 60px;
}
